/*Mi CSS */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

*{
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    
}

body{
    background-color: black;
    color:rgb(255, 255, 255);
    
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    
}

#botonera{
    background-color: black;
    border-top: #145A31 solid 1px;
    border-bottom: #145A31 solid 1px;
    margin-bottom: 4rem;
}
#botonconsola{
    color: rgb(31, 30, 30);
    font-weight: bold;
    
}
#botoneramovil{
    display: none;
}
#basicomovil{
    
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


#nombreapp{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    margin-bottom: 6rem;
    margin-bottom: 5rem;
   width: 100%;
    
}
#ventana{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    padding: 1rem;
    margin: 0rem;
    background-color: black;
    
}
#barra{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
    border: 4px solid rgb(20, 90, 49);
    background-color: rgb(20, 90, 49);
}
#pantalla{ 
 
    display: flex;
    flex-direction: column;    
    width: 80%;
    height: 25rem;
    background-color: rgb(17, 16, 16);    
    border-color: rgb(20, 90, 49);
    border-style: solid;
    border-width: 11px;
    border-radius: 1rem;
}
#rojo{
    
    color: rgb(190, 65, 65);    
}
#amarillo{
    color: rgb(224, 213, 49);
}
#comandos{
    color: rgb(44, 177, 133);   
    display: flex;
}
#descripcion{
    
    text-align: center;
    color: rgb(44, 177, 133);
    margin-top: 5rem;
    font-size: 1.3rem;
    animation:aparecedescripcion 6s;
	-webkit-animation:aparecedescripcion 7s;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: rgb(44, 177, 133);
    
}

/*Helpers Bulma*/
.title{
    letter-spacing: 1.5rem;
}    
.navbar-item{
    color: #29ac5f;
    font-size:1.4rem;
    background-color: black;
    margin: 0.5rem;
}
.navbar-item:hover{
    background-color: rgb(3, 3, 3) !important;
    color: #3EC487 !important;
}

/*animacion*/ 
.line {
    display: flex;    
    position: relative;
    top: 60%;     
    width: auto;  
    border-right: 1px solid rgba(22, 206, 77, 0.75);
    font-size: 140%;   
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
}
.anim-typewriter {
    animation: typewriter 4s steps(36) 1s 1 normal both,
    blinkTextCursor 900ms steps(36) infinite normal;
    
}

@keyframes typewriter {
    from {
          max-width: 0rem;
    }
    to {
           
           max-width:100%;           
            
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(48, 175, 75, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}

@keyframes aparecedescripcion
{
	from {color:#111010;}
	to {color:rgb(44, 177, 133);}
}

@-webkit-keyframes aparecedescripcion /* Safari and Chrome */
{
	from {color:#111010;}
	to {color:rgb(44, 177, 133);}
   
}

@media (max-width: 1450px) {

    #nombreapp h1{
        font-size: 1.8rem;        
    }

    #comando{
        font-size: 0.8rem;
    }
    #descripcion{
        font-size: 0.7rem;
        padding: 0.8rem;
    }

}

@media (max-width: 800px) {

    #botonera{
        padding: 0rem;        
        
    }
    #basico
    {
        display: flex;
        flex-direction: row;
        
    }
    #nombreapp h1{
        font-size: 1.3rem;  
        letter-spacing: 1rem;      
    }
    #botonconsola{
        width: 8rem;
        font-size: 0.7rem;
        margin: 0.2rem;   
    }
       
}
@media (max-width: 525px) {

    .navbar-item{
        font-size: 1rem !important;
        margin: 0.5;
        padding: 00.5rem;
    }
    #botonera{
        display: none;    
        
    }
    #nombreapp{
        width: 100%;
        margin: auto;
        padding: auto;
        margin-top: 5rem !important;
        margin-bottom: 4rem;
    }
    #nombreapp h1{
        font-size: 1rem;        
    }

    #sectionconsola{
        padding: 0;
    }
    #ventana{
        padding: 0;
    }
    #botoneramovil{
        display: flex;
    }
    #footer
    {
        margin-top: 5rem;
    }
    #sectionconsola div
    {
        margin: 0;
    }
    #pantalla
    {   
    width: 100%;
    height: 20rem;
    }   
}